/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, ;
    background-color: #ece1e1;
    color: #54737a;
}




.header {
  display: flex;              /* puts items in one line */
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid #ddd;
}

.logo {
  color: #00aaff;
  font-size: 22px;
  font-weight: bold;
}

.menu a {
  text-decoration: none;
  color: gray;
  margin-left: 25px;
  padding-bottom: 5px;
}

.menu .active {
  color: #00aaff;
  border-bottom: 3px solid #00aaff;
}

/* Hero Section */
.hero {
    height: 250px;
    background: linear-gradient(rgba(85, 75, 75, 0.2), rgba(129, 81, 81, 0.2)), 
                url('https://templatemo.com/templates/templatemo_556_catalog_z/img/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    width: 90%;
    max-width: 500px;
}

.search-container input {
    flex: 1;
    padding: 12px 20px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-container button {
    background-color: #1c9e9e;
    color: rgb(221, 210, 210);
    border: none;
    padding: 0 20px;
    cursor: pointer;
    font-size: 18px;
}

/* Layout Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.title-bar h2 {
    color: #0b9cc0;
    font-weight: 400;
}

.page-num {
    border: 1px solid #9e7474;
    padding: 2px 8px;
    background: #cfc2c2;
    border-radius: 100;
}

/* Grid System */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

/* Photo Card Styles */
.photo-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #240c0c;
}

.views {
    font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #9c9797;
}
.FooterContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicon{
    display: flex;
    justify-content:center ;
}
.socialicon a{
    text-decoration:none ;
    padding: 10px;
    background-color:rgb(252, 247, 247) ;
    margin: 10px;
    border-radius: 50%;
}
.socialicon a i{
    font-size: 2em;
    color: rgb(141, 123, 123);
    opacity: 0.9;
}
/* Hover Effect on social media icons*/
.socialicon a:hover{
    background-color: rgb(83, 77, 77);
    transition: 0.5s;
}

.socialicon a:hover i{
    color:rgb(13, 13, 14);
    transition: 0.5s;
}
.footerNav{
    margin: 10px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: nonedisc;
}
.footerNav ul li a{
    color: rgb(22, 20, 20);
    margin: 20px;
    text-decoration: none;
    font-size: 1.4em;
    opacity: 0.7;
    transition: 0.8s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background: #0e0d0d;
    padding:20px ;
    text-align: center;
}
.footerBottom p{
    color: rgb(175, 164, 164);
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction:column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}







